.categories-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
  }
  
  .categories-list {
    list-style: none;
  }

/* hw-styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
  }
  
  .gallery li {
    list-style: none;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  #validation-input {
    border: 3px solid #bdbdbd;
  }

  #validation-input.valid {
    border-color: #4caf50;
  }

  #validation-input.invalid {
    border-color: #f44336;
  }
  body {
    transition: background-color 0.3s ease;
  }

  #boxes {
    display: flex;
    flex-wrap: wrap;
  }

  .box {
    width: 30px;
    height: 30px;
    margin: 5px;
  }